<script src="//unpkg.com/vue"></script>

<script src="//cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>

<style>
    .row {
        display: table-cell;
    }
    .column {
        display: table;
    }
    .block {
        width: 10px;
        height: 10px;
        margin: 1px;
    }
    .block:hover {
        transform: scale(1.2);
    }
    .block:active {
        transform: scale(1);
    }
</style>

<script>
    Vue.component('block', {
        template: '\
            <div class="block" @click.left="block.data_count += 1" @click.right="block.data_count -= 1" :style="{ \'background\': colors[block.data_count]}">\
            </div>\
            ',
        props: ['block', 'colors']
    })
</script>

<center>
    <div id="activity">
        <h1 v-if="user_name">{{ user_name }}</h1>
        <div v-if="user_email">{{ user_email }}</div>
        <div v-if="blocks" v-for="block_week in blocks" class="row">
            <div v-if="block_week.blocks" v-for="block in block_week.blocks" class="column">
                <block :block="block" :colors="colors"></block>
            </div>
        </div>
        <button v-if="user_name">Draw</button>
        <!--<div>-->
            <!--Less<span v-if="colors" v-for="color in colors" class="row"><div class="block" :style="{ 'background': color}"></div></span>More-->
        <!--</div>-->
    </div>
</center>
<script>
     activityVue = new Vue({
        el: '#activity',
        data: {
            user_name: null,
            user_email: null,
            colors: ['#eee','#c6e48b','#7bc96f','#239a3b','#196127'],
            blocks: null
        },
        watch: {
            user_name: function (new_user_name) {
                this.get_blocks(new_user_name);
            }
        },
        methods: {
            get_blocks: function (new_user_name = activityVue.user_name) {
                axios.get('/' + new_user_name)
                    .then(response => {
                        activityVue.blocks = response.data;
                    })
                    .catch(e => {
                        console.log(e);
                    });
            }
        }
     });

     activityVue.user_name = 'localhost';
</script>

